extends ../layout

block menu
  include ../includes/menu

block content
  p tester
  section(class='container')
    div(class='col-sm-12')
      form(action='/users/new', method='post')
        div(class='form-group col-sm-3')
          label(for='username') Username:
          input(type='text', class='form-control', id='username', name='username')
        div(class='form-group col-sm-3')
          label(for='password') Password:
          input(type='text', class='form-control', id='password', name='password')
        div(class='form-group col-sm-2')
          button(type='submit', class='btn btn-primary') Submit

  script(src='/bower/requirejs/require.js', data-main='/public/js/main')